@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*:root{
    --color-primario:#011627/*222831*/;
    --color-secundario: #FF9F1C/*393E46*/;
    --color-terciario: #2EC4B6/*00ADB5*/;
    --color-cuartario: #E71D36/*EEEEEE*/;
    --color-extra: #FDFFFC;
    --color-error: red;
    --fuente-montserrat: "Montserrat", serif;
    --fuente-krona: 'Krona one', sans serif; 
}
/*a partir de aquí para mostrar menu activado en la sección clickeada*/
html{
    scroll-behavior: smooth;
}
section[id]{
    scroll-margin-top: 70px;
}

    
* {
    padding: 0;
    margin: 0;
}
h2{
    font-size: 2rem;
    font-family: var(--fuente-krona);
    color: var(--color-extra);
}
.h2__light{
    color: var(--color-primario);
}
h3{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat); 
}
.texto{
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
}
body {
    background-color: var(--color-primario);
    justify-content: center;
    align-items: flex-start; 
    box-sizing: border-box;     
}
.header{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--color-primario);
    box-shadow: 0 1px 5px var(--color-extra);/*0 para sombra en X, 4px eje Y, 5px para difuminado, color de la sombra*/
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
}
/*esta parte es para el logo*/
.nav__logo{
    display: flex;
    text-decoration: none;
    color: var(--color-secundario);
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.nav__logo img{
    width: 50px;
    height: 50px;
    clip-path: circle(50%);
}
.nav__logotipo{
    font-family: var(--fuente-krona);
    font-size: 0.9rem;   
}
/*desde aquí es para el menu "lu"*/
.nav__menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}
.nav__menu li{
    margin-right: 20px;
}
.nav__menu a{
    text-decoration: none;
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    color: var(--color-extra);
    transition: all 0.3s ease;
}
.nav__menu a:hover{
    color: var(--color-terciario);
    text-decoration: underline 2px solid;
    text-underline-offset: 10px;
    text-transform: uppercase;
}

.nav__menu a.active{
    color: var(--color-terciario);
    text-decoration: underline 2px solid;
    text-underline-offset: 6px;
    text-transform: uppercase;
    font-weight: 500;
}
.menu__toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}
@media (max-width:768px){
    .menu__toggle{
        display: flex;
        font-size: 2rem;
    }
    .nav__menu{
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 40px 0;
        position: absolute; /*para que el menu no desplace al contenido*/
        top: 70px; /*para que no se sobreponga al nav*/
        background-color: var(--color-primario);
    }
    .nav__menu.active{
        display: flex;
    }
    .nav__menu li{
        margin 10px 0;
        text-align: center;
    }
}
/*efectos generales*/

.vanish{
    opacity: 0;
    transition: opacity 2s ease 0.25s;
}
.vanish.mostrar{
    opacity: 1;
}
.entrada__arriba{
    transform: translateY(50%);
    opacity: 0;
    transition: transform 1s ease, opacity 2s ease 0.25s;
}
.entrada__arriba.mostrar{
    transform: translateY(0);
    opacity: 1;
}
.entrada__abajo{
    transform: translateY(-50%);
    opacity: 0;
    transition: transform 1s ease, opacity 2s ease 0.25s;
}
.entrada__abajo.mostrar{
    transform: translateY(0);
    opacity: 1;
}

.entrada__izq{
    transform: translateX(50%);
    opacity: 0;
    transition: transform 1s ease, opacity 2s ease 0.25s;
}
.entrada__izq.mostrar{
transform: translateX(0);
opacity: 1;
}
@media (max-width: 768px){
    .entrada__izq{
        transform: translateX(-100%);
    }
}
.entrada__der{
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 1s ease, opacity 2s ease 0.25s;
}
.entrada__der.mostrar{
transform: translateX(0);
opacity: 1;
}
.zoom{
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease, transform 1.5s ease;
}
.zoom.mostrar{
    opacity: 1;
    transform: scale(1);
}

.main__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.content{
    min-height: 768px;
    height: auto;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    gap: 10px;
}
.content__primario{
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.subcontent{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ordenar{
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.home{
    align-items: center;
}
.light{
    background-color: var(--color-extra);
    align-items:flex-start;
}
.enlaces__v{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /*efecto barrido desde abajo*/
    transform: translateY(-50%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease 0.25s;
}
.enlaces__v.mostrar{
    transform: translateY(0);
    opacity: 1;
}

.enlaces__h{
display: flex;
justify-content: center;
}
/*Para ver videos popup*/
.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup__content{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 90%;
    max-width: 800px;
}
.verVideoBtn{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.verVideoBtn:hover{
    background-color: #45a049;
}
.closeBtn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-extra);
    background-color: var(--color-terciario);
    padding: 0 5px;
    cursor: pointer;
}
#player{
    width: 100%;
    height: 315px;
}


.presentacion{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__nombre{
    color: var(--color-extra);
    text-align: center;
}
.presentacion__titulo{
    font-size: 3rem;
    font-family: var(--fuente-krona);
    color: var(--color-secundario);
    text-align: center;
    /*efecto*/
    opacity: 0;
    transition: opacity 2s ease 0.25s;
}
.presentacion__titulo.mostrar{
    opacity: 1;
}
.presentacion__descripcion{
    font-size: 1.2rem;
    font-family: var(--fuente-montserrat);
    color: var(--color-extra);
    text-align: center;
}

.presentacion__enlace__texto{
    width: 70%;
    text-align: center;
    padding: 21px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);
    border: 2px solid var(--color-extra);
}
.presentacion__enlace__texto:hover{
    border: 2x solid var(--color-terciario);
    cursor: pointer;
    color: var(--color-primario);
    background-color: var(--color-terciario);
    text-transform: uppercase;
}

.presentacion__imagen{
    margin: auto;
    width: 450px;
    max-width: 450px;
    border-radius: 8px;
    filter: drop-shadow(10px 10px 2px #222831);  

    /*efecto barrido de imagen*/
    transform: translateY(35%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease 0.25s;
}

.presentacion__imagen.mostrar{
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 768px){
    .content{
        padding-top: 80px;
        flex-direction: column;
        align-items: center;
    }
    .presentacion{
        gap: 30px;
    }
    .presentacion__imagen{
        margin-top:20px;
    }
    .presentacion__titulo{
        font-size: 3rem;
    }
    .presentacion__descripcion{
        font-size: 1rem;
    }
    
    .presentacion__enlace__texto{
        width: 70%;
    }
    
    .presentacion__imagen__section{
        position: relative;
    }
}

.about__logo{
    clip-path: circle(45%);
    max-width:400px;
    
    /*efecto barrido de imagen*/
    transform: translateX(-20%);
    opacity: 0;
    transition: transform 2s, opacity 2s 0.25s;
}
.about__logo.mostrar{
    transform: translateX(0);
    opacity: 1;
}
.about__content{
    background-color: var(--color-primario);
    padding: 5%;
    max-width: 350px;
    /*efecto*/
    opacity: 0;
    transition: opacity 2s 0.25s;
}
.about__content.mostrar{
    opacity: 1;
}
.about__subtitulo{
    color: var(--color-extra);
}
.about__texto{
    color: var(--color-extra);
    padding-top: 20px;
}
.libutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    text-align: center;
    outline: none;
    text-decoration: none !important;
    color: #ffffff ;
    width: 200px;
    height: 32px;
    border-radius: 16px;
    background-color: #0A66C2;
    font-family: var(--fuente-krona);
    font-size: 0.9rem;
    }
.libutton:hover{
    color: var(--color-primario);
    background-color: var(--color-secundario);
}
.about__enlaces__texto{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    font-family: var(--fuente-krona);
    color: var(--color-extra);
    border: 2px solid var(--color-primario);
    background-color: var(--color-terciario);
    padding: 15px 0;
    clip-path: circle(30%);
}
.about__enlaces__texto:hover{
    color: var(--color-primario);
    background-color: var(--color-extra);
}
@media (max-width: 768px){
    .content{
        height:auto;
    }
    .ordenar{
        flex-direction: column;
        gap: 60px;  
    }
    .about__logo{
        width: 70%;
    }
    .about__content{
        width: 80%;
    }
}
.proyectos__content{
    position: relative;
    background-color: var(--color-extra);
    padding: 5px;  
    border-radius: 8px;  
    min-width: 200px;
    margin: 20px;
    
}
 
.proyectos__content:hover .overlay{
    opacity: 1;
}
.proyectos__content__texto{
    color: var(--color-extra);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    border-radius: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .proyectos__texto{
    color: var(--color-primario);
    padding: 10px;
  }
  .proyectos__enlaces__texto{
    text-align: center;
    padding: 21px 10px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primario);
    border: 2px solid var(--color-extra);
}
.proyectos__enlaces__texto:hover{
    color: var(--color-extra);
    background-color: var(--color-primario);
}

@media (max-width: 768px){
    .ordenar{
        flex-direction: column;  
    }
    .proyectos__content{
        min-width: 250px;  
    }
}

.skills__titulo{
    color: var(--color-primario);
    font-family: var(--fuente-krona);
    font-size: 2.5rem;
}
.skills__lista{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}   
.skills__content{
    padding: 15px;
    border: 2px solid var(--color-primario);
    border-radius: 15px;
    width: 200px;
}
.skills__icon{
    width: 100%;    
    text-align: center;
    font-size: 3rem;
    color: var(--color-extra);
    border: 2px solid var(--color-primario);
    background-color: var(--color-secundario);
    padding: 15px 0;
    clip-path: circle(25%);
}


.blog__ordenar{
    align-items:start;
    gap: 20px;
}
.blog{
    background-color:#EEEEEE;
}

.blog__enlace{
    text-decoration: none;
}
.blog__enlace:hover{
    color: var(--color-primario)
}
.blog__box{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-extra);
    padding: 15px;
}
.is-clipped{
    font-family: var(--fuente-montserrat); 
    color:var(--color-primario)  
}
.blog__tit{
    font-size: 1.5rem;
    font-weight: 600;
}
.blog__desc{
    font-size: 1rem;
}
.blog__url{
    font-size: 0.7rem;
}
.blog__imagen{
    border-radius : 8px;
    margin-right: 20px;
}
.blog__titulo{
    color: var(--color-primario);
}

.blog__imagen:hover{
    border: 1px solid #777;
}
.blog__content{
    background-color:#EEE;
    width: 300px;
    height: auto;
}
    
.blog__miniatura{
    display: flex;
    justify-content: center;
}
.blog__titulo__small {
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    color: var(--color-primario);
}
.blog__texto{
    color: var(--color-primario);
    padding-left: 10px;
}
.blog__texto:hover{
    color: var(--color-terciario);
}
.blog__imagen__galeria {
    height: 160px;
    width: 250px;
}
  
.blog__imagen__galeria:hover {
    border: 1px solid #777;
}
 @media (max-width:768px){
    .blog__ordenar{
        flex-direction: column;
        align-items: center;
    }
    
    .blog__imagen{
        max-height: 160px;
        max-width: 250px;
        margin-right: 0;
    }
 }
.contacto__light{
    background-color: var(--color-secundario);
    flex-direction: column;
    height: auto;
}
.contacto{
    max-width: 890px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    padding: 40px;
}
.contacto__content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.contacto__datos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: left;
    padding: 20px 20px 0 0;
    gap: 10px;
}
.color{
    color: var(--color-primario)
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}
input[type=text],[type=email], textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    
    color: var(--color-primario);
    font-family: var(--fuente-montserrat);
    font-weight: 600;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .ocultar{
    display: none;
  }
  #mensaje__enviado{
    text-align: center;
    color: var(--color-primario);
    margin-top: 10px;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
  }
  @media (max-width:768px){
    .contacto{
        width: 85%;
    }
    .contacto__content{
        flex-direction: column;
        justify-content: center;
    }

    .formulario{
        width: 100%;
    }
  }
.footer__contenido {
    max-width: 980px;
    margin: 0 auto;
    background-color: var(--color-primario);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: var(--fuente-montserrat);
 }
 .footer__contacto__direccion{
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    list-style: none;
 }
.footer__enlaces{    
    font-size: 3rem;
    color: var(--color-extra);
    border: 2px solid var(--color-primario);
    background-color: var(--color-terciario);
    padding: 15px 0;
    clip-path: circle(30%);
    margin: 10px;
}
.footer__enlaces:hover{
    color: var(--color-primario);
    background-color: var(--color-extra);
}
.copyright{
    font-family: var(--fuente-montserrat);
    box-shadow: 0 4px 8px 0 rgba(235, 231, 231, 0.2), 0 6px 20px 0 rgba(243, 240, 240, 0.19);
    
}
@media (max-width:768px) {
    .footer__contenido {
        display: flex;
        flex-direction: column;
     }
     .footer__contacto__direccion{
        margin: 0 20px;
        flex-direction: column;
        gap: 10px;
     }
    .footer__texto{
        font-size: 0.8rem;
    }
    .footer__enlaces{    
        font-size: 2rem;
        clip-path: circle(25%);
        margin: 5px;
    }
    .copyright{
        font-size: 0.7rem;        
    }
}

  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }