@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*:root{
    --color-primario:#011627/*222831*/;
    --color-secundario: #FF9F1C/*393E46*/;
    --color-terciario: #2EC4B6/*00ADB5*/;
    --color-cuartario: #E71D36/*EEEEEE*/;
    --color-extra: #FDFFFC;
    --color-error: red;
    --fuente-montserrat: "Montserrat", serif;
    --fuente-krona: 'Krona one', sans serif; 
}

* {
    padding: 0;
    margin: 0;
}
h2{
    font-size: 2rem;
    font-family: var(--fuente-krona);
    color: var(--color-extra);
}
.h2__light{
    color: var(--color-primario);
}
h3{
    font-size: 2rem;
    font-family: var(--fuente-montserrat); 
}
.texto{
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
}
body {
    background-color: var(--color-primario);
    justify-content: center;
    align-items: flex-start; 
    box-sizing: border-box;     
}
.header{
    padding: 10px 0% 0% 0%;
}

.nav{
    display: flex;
    justify-content:end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    /*display: inline;*/
    float: left;
  }
  
li a {
    display: block;
    text-align: center;
    padding: 14px 46px;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
    color: var(--color-extra);
  }
li a:hover {
    background-color: var(--color-terciario);
  }
.active {
    background-color: var(--color-terciario)/*04AA6D*/;
  }

.main__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.content{
    height: 768px;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    gap: 10px;
}
.content__primario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.subcontent{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.ordenar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 60px;  
}

.home{
    align-items: center;
}
.light{
    background-color: var(--color-extra);
    align-items:flex-start;
}
.enlaces__v{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.enlaces__h{
display: flex;
justify-content: center;
}
.presentacion{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: 40px;
}
.presentacion__nombre{
    color: var(--color-extra);
}
.presentacion__titulo{
    font-size: 3rem;
    font-family: var(--fuente-krona);
    color: var(--color-secundario);
}
.presentacion__descripcion{
    font-size: 1.2rem;
    font-family: var(--fuente-montserrat);
    color: var(--color-extra);
}

.presentacion__enlace__texto{
    width: 50%;
    text-align: center;
    padding: 21px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);
    border: 2px solid var(--color-extra);
}
.presentacion__enlace__texto:hover{
    border: 2x solid var(--color-terciario);
    cursor: pointer;
    color: var(--color-primario);
    background-color: var(--color-terciario);
}
.presentacion__foto{
    margin: auto;
    width: 25%;
    border-radius: 8px;
    filter: drop-shadow(10px 10px 2px #222831);    
}

.about__logo{
    clip-path: circle(45%);
}
.about__content{
    background-color: var(--color-primario);
    padding: 5%;
}
.about__subtitulo{
    color: var(--color-extra);
}
.about__texto{
    color: var(--color-extra);
}
.about__enlaces__texto{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    font-family: var(--fuente-krona);
    color: var(--color-extra);
    border: 2px solid var(--color-primario);
    background-color: var(--color-terciario);
    padding: 15px 0;
    clip-path: circle(30%);
}
.about__enlaces__texto:hover{
    color: var(--color-primario);
    background-color: var(--color-extra);
}
.proyectos__content{
    position: relative;
    background-color: var(--color-extra);
    padding: 5px;  
    border-radius: 8px;  
}
.proyectos__content:hover .overlay{
    opacity: 1;
}
.proyectos__content__texto{
    color: var(--color-extra);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    border-radius: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .proyectos__texto{
    color: var(--color-primario);
  }
  .proyectos__enlaces__texto{
    text-align: center;
    padding: 21px 10px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primario);
    border: 2px solid var(--color-extra);
}
.proyectos__enlaces__texto:hover{
    color: var(--color-extra);
    background-color: var(--color-primario);
}

.skills__content{
    background-color: var(--color-extra);
    padding: 15px;
    border-radius: 15px;
    width: 200px;
}

.skills__titulo{
    color: var(--color-primario);
    font-family: var(--fuente-krona);
    font-size: 2.5rem;
}
.skills__icon{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    color: var(--color-extra);
    border: 2px solid var(--color-primario);
    background-color: var(--color-secundario);
    padding: 15px 0;
    clip-path: circle(25%);
}
section.blog{
    background-color: var(--color-secundario);
}
.blog__content{
    background-color: var(--color-secundario);
    padding: 1px;
    width: 280px;
}
.blog__imagen__principal{
    border-radius: 8px;
}  
.blog__titulo{
    color: var(--color-extra);
}
.blog__titulo__small {
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    color: var(--color-extra);
}
.blog__texto{
    color: var(--color-extra);
}
.blog__enlaces__texto{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    font-family: var(--fuente-krona);
    color: var(--color-extra);
    border: 2px solid var(--color-primario);
    background-color: var(--color-terciario);
    padding: 15px 0;
    clip-path: circle(30%);
}
.blog__enlaces__texto:hover{
    color: var(--color-primario);
    background-color: var(--color-extra);
}

div.gallery {
    margin: 5px;
    
    float: left;
    width: 270px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: 160;
}
  
 